extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src="//cdn.jsdelivr.net/pouchdb/6.0.7/pouchdb.min.js")
  script.
    window.PouchDB = PouchDB;

    var localdb = new PouchDB('kittens');

    localdb.info().then(function (info) {
        console.log(info);
    });

    // The bulkDocs() API is very simple. It just takes a list of documents that you want to put() into the database:
    //localdb.bulkDocs([
    //    {
    //        _id: 'mittens',
    //        occupation: 'kitten',
    //        cuteness: 9.0
    //    },
    //    {
    //        _id: 'katie',
    //        occupation: 'kitten',
    //        cuteness: 7.0
    //    },
    //    {
    //        _id: 'felix',
    //        occupation: 'kitten',
    //        cuteness: 8.0
    //    }
    //]);

    localdb.put({
        _id: new Date().toJSON(),
        name: 'Mittens',
        occupation: 'kitten',
        cuteness: 9.0
    }).then(function () {
        return localdb.put({
            _id: new Date().toJSON(),
            name: 'Katie',
            occupation: 'kitten',
            cuteness: 7.0
        });
    }).then(function () {
        return localdb.put({
            _id: new Date().toJSON(),
            name: 'Felix',
            occupation: 'kitten',
            cuteness: 8.0
        });
    }).then(function () {
        return localdb.allDocs({include_docs: true});
    }).then(function (response) {
        console.log(response);
    }).catch(function (err) {
        console.log(err);
    });

    //     var doc = {
    //    "_id": "mittens",
    //            "name": "Mittens",
    //            "occupation": "kitten",
    //            "age": 3,
    //            "hobbies": [
    //                "playing with balls of yarn",
    //                "chasing laser pointers",
    //                "lookin' hella cute"
    //            ]
    //    };
    //    localdb.put(doc);

    // fetch mittens
    //localdb.get('mittens').then(function (doc) {
    //    // update their age
    //    doc.age = 5;
    //    // put them back
    //    return localdb.put(doc);
    //}).then(function () {
    //    // fetch mittens again
    //    return localdb.get('mittens');
    //}).then(function (doc) {
    //    console.log(doc);
    //}, function (err) {
    //    console.log(err);
    //});

    //    When you remove() a document, it's not really deleted; it just gets a _deleted attribute added to it.
    //localdb.get('mittens').then(function (doc) {
    //    return localdb.remove(doc);
    //}, function (err) {
    //    console.log(err);
    //});
